html {
    font-family: sans-serif;
}

main {
    width: 75vw;
    margin: 0 auto;
}

header {
    width: 75vw;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

nav {
    display: inline-block;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

nav:after {
    width: 100%;
    position: absolute;
    transform: scaleX(0);
}

nav:hover {
    transform: scaleX(1);
    transform-origin: left;
    transition: width 2s;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

blockquote {
    padding: 1rem;
}